<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.openiniina.workflow.eutial</string>
	<key>connections</key>
	<dict>
		<key>B73FC5EC-3264-4F25-8DDD-908E9DC119B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E27B519D-B203-4A3A-918E-8C874CF9AAD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E27B519D-B203-4A3A-918E-8C874CF9AAD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC86CAE6-CE2E-4108-A824-32E4065DFF70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Eutial</string>
	<key>description</key>
	<string>fuck flash</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in IINA</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd /Applications
open "iina://weblink?url={query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FC86CAE6-CE2E-4108-A824-32E4065DFF70</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>iina</string>
				<key>subtext</key>
				<string>input the url of video</string>
				<key>text</key>
				<string>Open URL...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B73FC5EC-3264-4F25-8DDD-908E9DC119B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>target</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E27B519D-B203-4A3A-918E-8C874CF9AAD8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>B73FC5EC-3264-4F25-8DDD-908E9DC119B0</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>E27B519D-B203-4A3A-918E-8C874CF9AAD8</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>FC86CAE6-CE2E-4108-A824-32E4065DFF70</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>eutial.com</string>
</dict>
</plist>
